.alert-forgot-container{
    // background-color: antiquewhite;
    background: linear-gradient(135deg, #08D4DF, #7376ED, #B63CF6, #FB00FF);
    background-size: 300% 300%;
    animation: gradientShift 10s ease infinite;
    height: 100vh;
    min-height: 100vh;
    .alert-forgot-content{ 
        // background-color: black;
        .alert-forgot-form{
            display: flex;
            justify-content: center;
            min-height: 100vh;
            align-items: center;
            form{
                padding: 20px;
                margin: 60px 0px;
                background-color: #fff;
                border-radius: 25px;
                min-height: 80vh;
                min-width: 60vh;
                .alert-forgot-title{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    margin-top: 5%;
                    h3{
                        font-weight: 700;
                        text-decoration: none;
                        background: linear-gradient(135deg, #08D4DF, #7376ED, #B63CF6, #FB00FF);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: 0.3s ease;
                    }
                }
                .username{
                    margin-top: 10%;
                    label{
                        color: #B63CF6;
                    }
                    div{
                        input{
                            color: #4da3bd;
                            &.is-invalid {
                                border-bottom: 2px solid #ff4d4f !important;
                                color: red;
                            }
                        }
                    }
                }
                .password{
                    label{
                        color: #B63CF6;
                    }
                    div{
                        input{
                            color: #4da3bd;
                            &.is-invalid {
                                border-bottom: 2px solid #ff4d4f !important;
                                color: red;
                            }
                        }
                    }
                }
                div{
                    div{
                        display: flex;
                        .icon{
                            margin: auto 0px;
                            color: #c6c6c6;
                        }
                        input.form-control {
                            border: none;
                            border-bottom: 1px solid #ccc;
                            border-radius: 0;
                            background: transparent;
                            box-shadow: none;
                            outline: none;
                            transition: border-color 0.3s ease;
    
                            &:focus {
                                border-bottom: 1px solid #007bff;
                            }   
                        }
                    }
                }
                .button-alert-forgot {
                    margin-top: 10%;
                    width: 100%;
                    background: linear-gradient(135deg, #08D4DF, #7376ED, #B63CF6, #FB00FF);
                    background-size: 300% 300%;
                    border: none;
                    color: #fff;
                    font-weight: 600;
                    border-radius: 10px;
                    padding: 10px 0;
                    transition: all 0.4s ease;
                    cursor: pointer;
                    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                    animation: gradientIdle 6s ease infinite;

                    &:hover {
                        animation: gradientMove 2s ease infinite;
                        transform: scale(1.05);
                        opacity: 0.9;
                        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
                    }
                }
                .back-home{
                    div{
                        a{
                            text-decoration: none;
                            background: linear-gradient(135deg, #08D4DF, #7376ED, #B63CF6, #FB00FF);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            transition: 0.3s ease;

                            &:hover {
                                opacity: 0.8;
                                scale: 1.05;
                                box-shadow: 0 2px 5px rgba(251, 251, 251, 0.2);
                            }
                        }
                    } 
                }
                .abouts{
                    margin-top: 60px;
                    p{
                        span{
                            cursor: pointer;
                            padding: 2px 25px;
                            background: linear-gradient(135deg, #08D4DF, #7376ED, #B63CF6, #FB00FF);
                            background-size: 300% 300%;
                            color: #fff;
                            border-radius: 5px;
                            animation: gradientIdle 6s ease infinite;
                            &:hover{
                                scale: 1.2;
                                padding: 3px 30px;
                                background: linear-gradient(75deg, #fc39ff, #9d54c5, #787bff, #2aecf6);
                                animation: gradientMove 2s ease infinite;
                            }
                        }
                    }
                    button{
                        &:hover{
                            scale: 1.1;
                            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
                            background-color: rgba(217, 217, 217, 0.3);
                        }
                    }
                }
            }
        }
    }
} 

@media (max-width: 768px) {
    .alert-forgot-container {
        height: auto;
        padding: 20px 0;

        .alert-forgot-content {
            .alert-forgot-form {
                form {
                    margin: 20px 10px;
                    padding: 25px;
                    min-width: 70%;
                    .alert-forgot-title h3 {
                        font-size: 24px;
                    }

                    input.form-control {
                        font-size: 16px;
                    }

                    .button-alert-forgot {
                        padding: 12px 0;
                        font-size: 16px;
                    }

                    .check-forget {
                        .forgot {
                            // display: flex;
                            // justify-content: center;
                            a {
                                text-align: center;
                                color: #B63CF6;
                            }
                        }
                    }

                    .abouts {
                        margin-top: 40px;
                        button {
                            padding: 8px !important;
                        }
                    }
                }
            }
        }
    }
}


@keyframes gradientShift {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

@keyframes gradientIdle {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}